<h1>Faça Seu Login</h1>

<div>
  <%= form_tag do %>

    <div>
      <label for="name">Nome</label><br>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div>
      <label for="password">Senha</label><br>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div>
      <br>
      <%= submit_tag "Login", :class => "btn btn-default" %>
    </div>

  <% end %>
</div>
